################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IMS/.vs
/IMS/IMS/bin/Debug/net5.0-windows
/IMS/IMS/obj
/inventory management
/IMS/IMS.ViewModel/bin/Debug/net5.0-windows
/IMS/IMS.ViewModel/obj
/IMS/IMS.View/bin/Debug/net5.0-windows
/IMS/IMS.View/obj
/IMS/IMS.Test/bin/Debug/net5.0-windows
/IMS/IMS.Test/obj
/IMS/IMS.Model/bin/Debug/net5.0
/IMS/IMS.Model/obj
/IMS/IMS.Persistence/bin
/IMS/IMS.Persistence/bin/Debug/net5.0
/IMS/IMS.Persistence/bin/Debug/net5.0/ref
/IMS/IMS.Persistence/obj
/IMS/diary0.txt
